<h2>My Heroes</h2>
<table border="1" [cellSpacing]="1">
  <tr>
    <td>empcode</td>
    <td>name</td>
    <td>gender</td>
  </tr>
  <tr *ngFor="let e of employees">
    <td>{{ e.code }}</td>
    <td>{{ e.name }}</td>
    <td>{{e.gender }}</td>
  </tr>
</table>
<div>
  <label for="new-hero">Hero name: </label>
  <input id="new-hero" #heroName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button" (click)="add(heroName.value); heroName.value=''">
    Add hero
  </button>
</div>
{{heroes[0].name}}
<ul class="heroes">
  <li *ngFor="let hero of softherons$ |async">
    <a >
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button type="button" class="delete" title="delete hero"
      (click)="delete(hero)">x</button>
  </li>
</ul>