<br /><br /><br />
<H3 class="text-center">Welcom to {{title}}</H3>

<div class="container">
    <div class="row">
        <div class="form_bg">
            <form [formGroup]='signupForm' (ngSubmit)="PostData(signupForm)">
                <div class="form-group p-2">
                    <input type="text" formControlName="fname" placeholder="enter your name" class="form-control">
                </div>
                <div class="form-group p-2">
                    <input type="text" formControlName="lname" placeholder="enter your last name" class="form-control">
                </div>
                <div class="form-group p-2">
                    <input type="email" formControlName="emailid" placeholder="enter your email" class="form-control">
                </div>
                <div class="form-group p-2">
                    <input type="password" formControlName="pass" placeholder="enter your password" class="form-control">
                </div>
                <div class="text-center p-2">
                    <button type="button" (click)="PostData1()" [disabled]="!signupForm.valid" class="btn btn-primary m-3" >Post Data</button>
                    <button type="button" (click)="resetForm()" class="btn btn-danger">Reset Data</button>
                    <button type="button" (click)="fillData()" class="btn btn-success m-3">Fill Data</button>
                    <button type="button" (click)="patchData()" class="btn btn-success m-3">Patch Data</button>
                </div>

            </form>
        </div>
    </div>
</div>