<br /><br /><br />
<H3 class="text-center">Welcom to {{title}}</H3>

<div class="container">
    <div class="row">
        <div class="form_bg">
            <form [formGroup]='signupForm' (ngSubmit)="PostData(signupForm)">
                <div class="form-group p-2">
                    <input type="text" formControlName="fname" placeholder="enter your name" class="form-control">
                </div>
                <div class="form-group p-2">
                    <input type="text" formControlName="lname" placeholder="enter your name" class="form-control">
                </div>
                <div class="form-group p-2">
                    <input type="email" formControlName="emailid" placeholder="enter your name" class="form-control">
                </div>
                <div class="form-group p-2">
                    <input type="password" formControlName="pass" placeholder="enter your name" class="form-control">
                </div>
                <div class="text-center p-2">
                    <input type="submit" value="Post Data" class="btn btn-primary" >
                </div>

            </form>
        </div>
    </div>
</div>